// declaring variables in scss
$primary-color: #f323e3;
$accent-color: #ff652f;
$text-color: #fff;
$sizeHeader: 24px;
.main {
  width: 100%;
  height: 100%;
  display: flex;
  &_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   .container_content{
    display: flex ;
    height: 400px;   
    padding: 2rem;
    .content{
        padding: inherit;
    }
  }
  }
 
}
